@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Patrick Hand SC", cursive;
}

.reset button {
  box-shadow: inset 0px 1px 0px 0px #efdcfb;
  background: linear-gradient(to left, #FFC8C8 5%, #DEE5FF 100%);
  background-color: #dfbdfa;
  border-radius: 6px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: black;
  font-size: 2rem;
  padding: 1.5rem 3rem;
  text-decoration: none;
}
.reset button:hover {
  background: linear-gradient(to left, #DEE5FF 5%, #FFC8C8 100%);
  background-color: #FFC8C8;
  transition: ease-in 1s;
}
.reset button:active {
  position: relative;
  top: 1px;
}

footer {
  width: 100%;
  height: 5vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p {
  color: white;
  font-size: 1.5rem;
}

header {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  border-bottom: 1px solid black;
}

main {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.board {
  width: 600px;
  height: 600px;
  border-radius: 100px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.board .cell {
  width: 200px;
  height: 200px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  transition: ease-in 0.2s;
}
.board .cell:hover {
  border-radius: 10px;
  background-color: #FFC8C8;
}

.score {
  height: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}
.score h2 {
  font-size: 3rem;
}
.score .players {
  font-size: 2rem;
}
.score .players .p1, .score .players .p2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
  margin: 3rem 0;
}
.score .players .p1 img, .score .players .p2 img {
  width: 50px;
  height: auto;
}
.score .players .p1 .points, .score .players .p2 .points {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.score .players .p1 .points.x, .score .players .p2 .points.x {
  background-color: #FFC8C8;
}
.score .players .p1 .points.o, .score .players .p2 .points.o {
  background-color: #DEE5FF;
}/*# sourceMappingURL=styles.css.map */